In [1]:
import resume_evaluator as rr

Using TensorFlow backend.

WARNING:tensorflow:From /anaconda3/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /anaconda3/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

In [2]:
import textract

In [3]:
text = str(textract.process('/Users/jb/Downloads/Copy of TEMPLATE_ Resume #1 (1).pdf'))

table = rr.check_all_worths(text)

In [4]:
table

,Linear Regression,Lasso,Ridge,Random Forest,Gradient Boost,Neural Net,Linear Regression Poly,Lasso Poly,Ridge Poly,Random Forest Poly,Gradient Boost Poly,Neural Net Poly
Between,"$106,708 - $165,842","$36,619 - $96,639","$47,299 - $106,325","$90,050 - $128,224","$87,704 - $125,792","$38,321 - $93,333","$44,794 - $95,574","$42,100 - $97,508","$45,217 - $94,941","$96,253 - $132,367","$98,661 - $134,727","$66,068 - $96,456"
Estimated Salary,"$136,275","$66,629","$76,812","$109,137","$106,748","$65,827","$70,184","$69,804","$70,079","$114,310","$116,694","$81,262"

In [6]:
table.T

                                    Between Estimated Salary
Linear Regression       $106,708 - $165,842         $136,275
Lasso                     $36,619 - $96,639          $66,629
Ridge                    $47,299 - $106,325          $76,812
Random Forest            $90,050 - $128,224         $109,137
Gradient Boost           $87,704 - $125,792         $106,748
Neural Net                $38,321 - $93,333          $65,827
Linear Regression Poly    $44,794 - $95,574          $70,184
Lasso Poly                $42,100 - $97,508          $69,804
Ridge Poly                $45,217 - $94,941          $70,079
Random Forest Poly       $96,253 - $132,367         $114,310
Gradient Boost Poly      $98,661 - $134,727         $116,694
Neural Net Poly           $66,068 - $96,456          $81,262

In [8]:
aa = table.to_html()
aa.replace('<table border="1" class="dataframe">','<table border="1" class="dataframe" align="center">')

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Linear Regression</th>\n      <th>Lasso</th>\n      <th>Ridge</th>\n      <th>Random Forest</th>\n      <th>Gradient Boost</th>\n      <th>Neural Net</th>\n      <th>Linear Regression Poly</th>\n      <th>Lasso Poly</th>\n      <th>Ridge Poly</th>\n      <th>Random Forest Poly</th>\n      <th>Gradient Boost Poly</th>\n      <th>Neural Net Poly</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Between</th>\n      <td>$106,708 - $165,842</td>\n      <td>$36,619 - $96,639</td>\n      <td>$47,299 - $106,325</td>\n      <td>$90,050 - $128,224</td>\n      <td>$87,704 - $125,792</td>\n      <td>$38,321 - $93,333</td>\n      <td>$44,794 - $95,574</td>\n      <td>$42,100 - $97,508</td>\n      <td>$45,217 - $94,941</td>\n      <td>$96,253 - $132,367</td>\n      <td>$98,661 - $134,727</td>\n      <td>$66,068 - $96,456</td>\n    </tr>\n    <tr>\n      <th>Estimated Salary</th>\n      <td>$136,275</td>\n      <td>$66,629</td>\n      <td>$76,812</td>\n      <td>$109,137</td>\n      <td>$106,748</td>\n      <td>$65,827</td>\n      <td>$70,184</td>\n      <td>$69,804</td>\n      <td>$70,079</td>\n      <td>$114,310</td>\n      <td>$116,694</td>\n      <td>$81,262</td>\n    </tr>\n  </tbody>\n</table>'